# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
*.log
develop-eggs/
eggs/
.eggs/
lib/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
local_settings.py

# Database
db.sqlite3

# MAC OS specific
.DS_Store

# Virtual Environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.envrc

# PyCharm
.idea/

# Vim
*.swp

# Images/gif
*.png
*.gif

# Coverage and Testing
.coverage
htmlcov/
.pytest_cache/

# IDE Files
.vscode/
*.code-workspace

# System Files
Thumbs.db
Desktop.ini

# Your Custom Directories
%APPDATA%/
cms/migrations/
teams/migrations/

# Django Additional Files
media/
staticfiles/
static_root/
